<section>
  <app-hero></app-hero>
  <div class="container">
    <div class="bar"></div>
    <div class="anchor">
      <p class="number">01</p>
    </div>
  </div>
  <app-gallery></app-gallery>
  <div class="container">
    <h1 class="title">
      build for modern use
    </h1>
    <h2 class="heading">
      Smarter meetings, all in one place
    </h2>
    <p class="para">
      Send messages, share files, show your screen and record your meetings -
      all in one workspace. Control who can join with invite-only team access,
      data encryption, and data export.
    </p>
  </div>
</section>
