<footer>
  <!-- Should make this hr and rotate -->
  <div class="bar"></div>
  <div class="anchor">
    <p class="number">02</p>
  </div>
  <div class="container">
    <img alt="Picture of a female listening to music and looking at a laptop"
         class="img-footer">
    <h1 class="heading">Experience more together</h1>
    <h2 class="subheading">
      Stay connected with reliable HD meetings and unlimited one-on-one and
      group video sessions
    </h2>
    <button class="btn" type="button">
      <span class="download">Download</span>
      <span class="version"> v1.3</span>
    </button>
  </div>
</footer>
